#naslov{
	overflow: hidden;
	height: 70px;
	width: 100%;
	background-color: #ede4d1;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#Snaslov{
	float: left;
	}
#Snaslov1{
	float: right;
}
#naslovTekst{
	text-align: center;
}
body, html{
	height: 100%;
}
html{
	background-color: #f5f3ed;
}
.osnKartica{
	
	position: relative;
	background-image: linear-gradient(#ebe7d8, #c2b688 );
	height: 705px;
	width: 90%;
	margin-left: 5%;
	border-radius: 10%; 
	margin-top: 11%;
}
.slika{
	height: 100%;
	width: 50%;
	margin-left: 25%;
}