#naslov{
	overflow: hidden;
	height: 70px;
	width: 100%;
	background-color: #ede4d1;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#Snaslov{
	float: left;
	}
#Snaslov1{
	float: right;
}
#naslovTekst{
	text-align: center;
}
body{
	height: 100%;
	width: 100%;

}
html{
	background-color: #f5f3ed;
	
}
.osnKartica{
	position: relative;
	background-image: linear-gradient(#ebe7d8, #c2b688 );
	height: 805px;
	width: 80%;
	margin-left: 10%;
	border-radius: 10%; 
	margin-top: 11%;
}
#nazad{
	height: 50%;
	margin-left: 5%;
	text-decoration: none;
	color: black;
	background-color: white;
}
a, a:active, a:hover{
	text-decoration: none;
	color: black;
}
